:root {
  --view-background: #383539;
  --action-background: #fd9e2b;
  --num-background: #706668;
  --ac-background: #4b494b;
  --text-color: #ffffff;
  --num-focus: #b2b7b8;
  --action-focus: #ac5f02;
}

body {
  width: 25vw;
  height: 50vh;
  color: var(--text-color);
}

#button-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

button {
  width: 25%;
  height: 3rem;
  border: 1px solid var(--view-background);
  color: var(--text-color);
  font-size: 1.5rem;
}

button:focus {
  outline: none;
}

button:nth-child(even) {
  border-left: none;
}

button:nth-child(n) {
  border-bottom: none;
}

button:nth-child(4n + 3) {
  border-left: none;
}

.num {
  background-color: var(--num-background);
}

.num:active {
  background-color: var(--num-focus);
}

.action {
  background-color: var(--action-background);
}

.action:active {
  background-color: var(--action-focus);
}

.App {
  text-align: center;
  margin: auto;
}

#view {
  text-align: end;
  padding: 0.5rem;
  font-size: 2.5rem;
}

#root {
  background-color: var(--view-background);
}

#num0 {
  width: 50%;
}

#actionAC,
[id='action+/-'],
[id='action%'] {
  background-color: var(--ac-background);
}

#actionAC:active,
[id='action+/-']:active,
[id='action%']:active {
  background-color: var(--num-background);
}

[id='action.'] {
  background-color: var(--num-background);
}

[id='action.']:active {
  background-color: var(--num-focus);
}

[id='action÷']:focus,
[id='actionx']:focus,
[id='action-']:focus,
[id='action+']:focus {
  border-width: 2px 2px 1px 1px;
  border-style: solid;
  border-color: var(--view-background);
}
